<!--The content below is only a placeholder and can be replaced.-->

<form name="form" #f="ngForm" (ngSubmit)="onValidation()" novalidate >
  
  <p>
  userName: <input name="userName" [(ngModel)]="model.userName" #userName="ngModel" type="text" placeholder="nom"  />
  </p>
  
  <p>
    password : <input name="userPassword" [(ngModel)]="model.userPassword" #userPassword="ngModel"  type="password" />
  </p>

  <p>
    <input type="button" value="valider" (click)="onValidation()" />
  </p>

  {{model | json}}
 
</form>
<p>
  <input type="button" value="clicl" (click)="onClick()" />
</p>


<router-outlet></router-outlet>
